@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<BEUCrtProyectoDavid.Producto>

@{
    ViewBag.Title = "Seleccionar Productos";
}


<h2>Index</h2>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">CELDA 1</div>
        <div class="col">CELDA 2</div>
        <div class="col">CELDA 3</div>
        <div class="col">CELDA 4</div>
    </div>
</div>
